@media (prefers-color-scheme: dark) {
    /* Import the dark mode styles */
    @import url("dark-mode.css");
  }
  :root {
    --blue: #1e90ff;
    --white: #ffffff;
    --primary-color:#F0F0F0 ;
    --secondary-color:#E7473C ;
    --accent-color: #131b23;
    --primary-color-d:#070d10;
    --secondary-color-d:#ff0000;
  }
/* dark-mode.css */

body.dark-mode .dark-mode-div {
    background-color: var(--primary-color-d);
    color: var(--secondary-color-d);
  }
  

  