
:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --accent-color: #93B1A6; 
    --primary-color:#F0F0F0 ; 
    --secondary-color:#28282B ;
    --main-background:#121212;
    --gray:#1F1F1F;
    --mid-green:#0083FF;
    --dark-green:#183D3D;
  }
*{
    font-family: 'Play', sans-serif;
    
    /* background-color: var(--main-background); */
}
body{
    font-size: 0;
    overflow: hidden;
    background-color:var(--main-background);
}  
.display_inline{
    display: inline;
}
main div{
    font-size: medium;
}  
a   {
    text-decoration: none;
    color: black;
    }
a:hover{
    color: var(--primary-color);
    }
a:after{
    color: red;
    }
/* -----------------Container css----------------------- */
.main_content{
    font-size: 0;
    width: 100%;
    max-height: 30em;
    display: flexbox;
    
}
main{
    background-color: var(--main-background);
}
.section{
    display: inline-block;
    height: 100%;
    min-height: 35rem;
    margin: 0;
  
}
.left_container{
    
    width: 18%;
    box-sizing: border-box;
    position: relative;
    background-color: var(--gray);
}
.center_container{
    background-color: var(--main-background);
    width: 55.5%;
    bottom: 96px;
    position: relative;
}
.right_container{
    background-color:var(--gray) ;
    width: 26%;
    position: relative;
    display: inline-block;
    bottom: 26px;
}
/* --------------------------------------------------------- */

/* ------------------Header CSS----------------------------- */
header {
    font-size: large;
    height: 4rem;
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
}
header a{
    color: var(--white);
    margin-left: 0.5em;
  
    position: relative;
    bottom: 7px;
}
header h2{
    color: var(--secondary-color);  
   
}
.header_buttons{
    width: 2rem;
    height: 2rem;
    position: relative;
    float: right;
    bottom: 56px;
    margin-right: 1em;
}
.settings_drop{
    position: relative;
    display: inline-block;
}

  /* ------------------------------------------------------------ */

  /* --------------------Profile css------------------------------- */

.profile{
    display: inline-flex;
}
.profile img{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    bottom: 17px;
    position: relative;
}
.profile a{
    display: inline;
    margin-left: 5px;
    margin-top: 15px;
    padding: 0;
    color: var(--primary-color);
}

/* .................................................................. */

/* -------------------Sidebar---------------------------------- */
.days{
    width: 90%;
    position: relative;   
}
.day_select{
    display: block;
    padding: 1em 3.5em 1em 3.5em;
    margin-bottom: 3px;
    color: var(--primary-color);
    border: block 1px ;
    background-size: 1.5rem;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-color: var(--gray);
    
}
.day_select_today{
    background-image: url(svgs/date.png);
}
.day_select_today:hover{
    background-image: url(svgs/date_clicked.png);
}
.day_select_today.clicked{
    background-image: url(svgs/date_clicked.png);
}
.day_select_tomorrow{
    background-image: url(svgs/tomorrow.png);
}
.day_select_tomorrow:hover{
    background-image: url(svgs/tomorrow_clicked.png);
}
.day_select_tomorrow.clicked{
    background-image: url(svgs/tomorrow_clicked.png);
}
.day_select_week{
    background-image: url(svgs/due_tasks.png);
}
.day_select_week:hover{
    background-image: url(svgs/due_tasks_click.png);
}
.day_select_week.clicked{
    background-image: url(svgs/due_tasks_click.png);
}
.day_select:hover{
    background-color: #2C2C2C;
    /* border: #1e90ff solid 1px; */
    .day_selection_button{
        color: var(--mid-green);
        
        background-color: #2C2C2C;
    }    
}
.day_select.clicked{
    background-color: var(--gray);
    border: #1e90ff solid 1px ;
    .day_selection_button{
        color: var(--mid-green);
        
        background-color: var(--gray);
    }    
}
.day_select a{
    color: var(--primary-color);
}

#myDayContainer{
    display: block;
}
#tomorrowContainer{
    display: none;
}
#thisWeekContainer{
    display: none;
}
.taskDisplayContainer{
    width: 100%;
    height: 25em;

}
.day_selection_button{
    width: 100%;
    background-color: var(--gray);
    height: 10px;
    border: none;
    left: 1px;
    font-size: large;
    margin-left: -20px;
    margin-top: -10px;
    /* position: fixed; */
    color: var(--white);
}
/* ----------------------------Date--------------------------------------- */
#currentDate {
    font-size: 24px;
    font-weight: bold;
    color: var(--white);
    display: inline;
}
.day_define{
    font-size:24px ;
    font-weight: bold;
    color: var(--white);
    display: inline;
}
/* -----------------------------Dropdown Button--------------------------- */
.dropbtn {
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 0.5rem;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: var(--primary-color);
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--accent-color);
    color: var(--primary-color);
    min-width: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: var(--background-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
 

/* --------------Center Container----------------------- */
.welcome_text{
    margin-bottom: 1em;
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 1em;
    bottom: 65px;
    margin-left: 0.5em;
    color: var(--primary-color);
    font-size: 32px;
}
.period{
    color: var(--mid-green);
}

    /* -------------------Add Task------------------------------- */
.add_task_button{
    width: 15em;
    height: 3em;
    margin-bottom: -5em;
    margin-left: 0.5em;
    background: var(--mid-green);
    color: var(--primary-color);
    border: none;
    position: relative;
    bottom: 55px;
}
    /* Styling for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
      
    /* Styling for the form within the modal */

.task_form{
    background-color: var(--mid-green);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--background-color);
    width: 35em;
    height: 25em;
    bottom: 5em;
}
.task_form h2{
    color: var(--background-color);
    text-align: center;
}
#taskForm {
    display: none;
}
#taskFormTomorrow{
    display: none;
}
 
.form_label{
    font-size: large;
    background-color:var(--primary-color) ;
    color: var(--background-color);
}
input{
    vertical-align: top;
}
input[type=text]{
    width: 100%;
    height: 5em;
    background-color: var(--secondary-color);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 30px;
    border: #333 1px;
    background-size: 20px;
    background-image: url('svgs/notebook-svgrepo-com.png');
    box-sizing: border-box;
}
input[type=textarea]{
    width: 100%;
    height: 5em;
    text-align: justify;
    background-color: var(--secondary-color);
}
input[type=submit]{
    background-color: var(--background-color);
    width: 6em;
}
.add_task_submit{
    top: 0;
    left: 0;
    position: relative;
}
/* Tasks css */
.overflows{
    overflow: auto;
    height: 350px;
    position: absolute;
    bottom: 95px;
    width: 751px;
    border-top: solid white;
}

 /* Target the scrollbar */
 .overflows::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

/* Style the track (the area the scrollbar moves on) */
.overflows::-webkit-scrollbar-track {
    background-color: var(--main-background);
}

/* Style the thumb (the draggable part of the scrollbar) */
.overflows::-webkit-scrollbar-thumb {
    background-color: var(--dark-green);
    height: 20px;
}

/* Style the buttons (arrows) at the top and bottom of the scrollbar */
.overflows::-webkit-scrollbar-button {
    background-color: var(--main-background);
}



.task{
    width: 95%;
    height: 3em;
    background-color: var(--mid-green);
    display: flex;
    text-align: center;
    margin: 10px;
    color: var(--primary-color);
}
.task:hover{
    border: #fff solid 1px;
}
.task_desc_short{
    width: 50%;
    background-color:var(--mid-green) ;
}
.task_desc_short h5{
    margin: 0;
    background-color: var(--mid-green);
}
.task_desc_short h5{
    background-color: var(--mid-green);
}
h5{
    margin:5px ,0,0,0;
}
.indivTask{
    width: 100%;
    display: flex;
}
.task_status_container{
    display: flex;
  }
  .task_status{
    width: 6em;
    height: 2em;
    background-color: var(--mid-green);
    color: var(--primary-color);
    padding: 10px;
    margin: 10px;
    text-align: center;
    /* left: 2rem; */
    position: relative;
  }
  .task_description{
    background-color: var(--accent-color);
    width: 25em;
    height: 10em;
    margin: 1em;
  }
  .footer{
    left: 1.5em;
    top: 14em;
    position: relative;
    background-color: var(--gray);
    width: 90%;
  }
  .footer a{
    background-color: var(--gray);
    color: var(--white);
  }

  /* ---------------------Productivity class css ---------------------------------*/
  .productivity{
    width: 80%;
    margin-left: 20px;
    color: var(--white);
    background-color: var(--gray);
  }
  .productivity h3{
    background-color: var(--gray);
  }
  .productivity h4{
    margin-block-end: 0;
    margin-left: 0.5em;
    background-color: var(--gray);
  }


  #dark-mode-toggle{
    cursor: pointer;
  } 
  
  /* css for profile page  */

  .profile_record h1{
    color: var(--primary-color);
  }

.checkbox_Holder{
    width: 500px;
}

.weekTasks{
    display: inline-flex;
    width: 820px;
    height: 500px;
    overflow: auto;
}
.week{
    background-color: var(--dark-green);
    border: 2px black;
    margin-right: 43px;
    padding: 26px;
}
.weekName{
    margin-bottom: 50px;
    color: #121212;
    font-size: 20px;
}

.addTaskButtonContainer{
    display: inline-block;
}

.checkboxes{
    right: 104px;
    top: 13px;
    position: relative;
}

.profile_container{
    display: inline-flex;
}

.profile_pic img{
    width: 50px;
    height: 50px;
}

.user-info{
    color: var(--primary-color);
}

.pattern{
    position: fixed;
  width: 100vw;
  height: 100vh;
    background-color: var(--main-background);
opacity: 1;
background-image:  radial-gradient(#1e90ff 1.4500000000000002px, transparent 1.4500000000000002px), radial-gradient(#1e90ff 1.4500000000000002px, #e6eaf7 1.4500000000000002px);
background-size: 58px 58px;
background-position: 0 0,29px 29px;
}

.welcome{
    position: relative;
    right: 241px;
    top: 58px;
}